/*
.root {
	-backblue: #e7f5fe;
	-hoverbackblue: #b6e1fc;
}
*/
.label{
	-fx-font-size: 15;
}

.text-field{
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

.text-field:hover{
	-fx-border-color: #b6e1fc;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

.field-error{
	-fx-border-color: red;
	-fx-border-width: 1.5;
}

.tooltip-error{
	-fx-border-color: red;
	-fx-border-radius: 10;
	-fx-border-width: 1.5;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

/*Stile per label etichetta*/
.labelTarget{
	-fx-font-size: 12;
}

/*Stile per bottoni grandi con icone*/
.buttonIcon{
		-fx-background-color: #e7f5fe;
		-fx-border-width: 2;
		-fx-border-radius: 20;
		-fx-background-radius: 20;
		-fx-border-color: black;
}

.buttonIcon:hover{
	-fx-background-color:#b6e1fc;
	-fx-border-width: 2;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: black;
}

/*Stile per bottoni piccoli*/
.buttonSmall{
	-fx-background-color: #e7f5fe;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

.buttonSmall:hover{
	-fx-background-color: #b6e1fc;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

/*Stile per scritta "Benvenuto"*/
.labelWelcome{
	-fx-font-size: 25;
	-fx-font-family: "STSong";
}

/*Stile per icona "indietro"*/
.backIcon{
	-fx-icon-size: 22;
	-fx-icon-color:black;
}

.IconTarghet {
	-fx-icon-color: #1f4c9f;
	-fx-icon-size: 22;
}

.backIcon:hover{
	-fx-icon-size: 22;
	-fx-icon-color: red;
}

.iconInfo{
	-fx-icon-color: #1f4c9f;
	-fx-icon-size: 25;
}

.labelFreeAccess{
	-fx-font-size: 15;
	-fx-text-fill: #4878d2;
}

.labelFreeAccess:hover{
	-fx-font-size: 15;
	-fx-text-fill: #1f4c9f;
}

.labelButton{
	-fx-font-size: 13;
	-fx-text-fill: #4878d2;
}

.labelButton:hover{
	-fx-font-size: 13;
	-fx-text-fill: #1f4c9f;
}