.label{
	-fx-font-size: 15;
}

.style-trasparent {
	-fx-background-color: TRANSPARENT;
}

.label-titleDashboard{
	-fx-font-size: 40;
	-fx-effect: dropshadow(gaussian, gray, 5, 0, 0.0, 3);
	-fx-font-family: Beirut;
}

.label-targetItemList{
	-fx-font-size: 18;
	-fx-text-fill: #2f2d2d;
	-fx-font-family: "Bodoni 72 Oldstyle";
}

.label-NessunRis{
	-fx-font-size: 20;
	-fx-text-fill: grey;
}

.panelSuperior{
	-fx-background-color: #b6e1fc;
}

.text-field{
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

.textFiled-correct {
	-fx-border-color: #28ba38;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 1.5;
}

.text-field:hover{
	-fx-border-color: #b6e1fc;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

.text-info {
	-fx-font-size: 12;
}

.field-error {
	-fx-border-color: red;
	-fx-border-width: 1.5;
}

.tooltip-error {
	-fx-border-color: red;
	-fx-border-radius: 10;
	-fx-border-width: 1.5;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

/*Stile per label etichetta*/
.labelTarget{
	-fx-font-size: 12;
}

/*Stile per bottoni grandi con icone*/
.buttonIcon{
		-fx-background-color: #e7f5fe;
		-fx-border-width: 2;
		-fx-border-radius: 20;
		-fx-background-radius: 20;
		-fx-border-color: black;
}

.buttonIcon:hover{
	-fx-background-color:#b6e1fc;
	-fx-border-width: 2;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: black;
}

/*Stile per bottoni piccoli*/
.buttonSmall{
	-fx-background-color: #e7f5fe;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

.buttonSmall:hover{
	-fx-background-color: #b6e1fc;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

.buttonSearh{
	-fx-background-color: TRANSPARENT;
	-fx-border-width: 0;
}

/*Stile per scritta "Benvenuto"*/
.labelWelcome{
	-fx-font-size: 25;
	-fx-font-family: "STSong";
}

/*Stile per icona "indietro"*/
.backIcon{
	-fx-icon-size: 22;
	-fx-icon-color:black;
}

.IconTarghet {
	-fx-icon-color: #1f4c9f;
	-fx-icon-size: 22;
}

.backIcon:hover{
	-fx-icon-size: 22;
	-fx-icon-color: red;
}

.iconInfo{
	-fx-icon-color: #1f4c9f;
	-fx-icon-size: 25;
}

.labelFreeAccess{
	-fx-font-size: 15;
	-fx-text-fill: #4878d2;
}
.field-valid{
	-fx-border-color: green;
	-fx-border-width: 1.5;
}

.tooltip-error{
	-fx-border-color: red;
	-fx-border-radius: 10;
	-fx-border-width: 1.5;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

.labelFreeAccess:hover{
	-fx-font-size: 15;
	-fx-text-fill: #1f4c9f;
}

.labelButton{
	-fx-font-size: 13;
	-fx-text-fill: #4878d2;
}

.labelButton:hover{
	-fx-font-size: 13;
	-fx-text-fill: #1f4c9f;
}

.textfield-RicercaCV {
	-fx-pref-height: 45;
	-fx-background-radius: 15;
	-fx-border-radius: 15;
}

.textfield-RicercaCV:hover {
	-fx-pref-height: 45;
	-fx-background-radius: 15;
	-fx-border-radius: 15;
}

.comboBoxRicerca{
	-fx-pref-height: 30;
	-fx-background-radius: 9;
	-fx-border-radius: 9;
}

.textfiled-LoginDash{
	-fx-background-color: TRANSPARENT;
	-fx-border-width: 0.1;
	-fx-border-fit: overflow;
}

.button-LoginDash{
	-fx-background-color: TRANSPARENT;
	-fx-text-fill: #1f4c9f;
}

.button-RegDash{
	-fx-background-color: TRANSPARENT;
	-fx-text-fill: #1f4c9f;
	-fx-font-size: 10;
}

.comboBoxTipologia{
	-fx-pref-height: 45;
	-fx-background-radius: 9;
	-fx-border-radius: 9;
}

.MenuButton{
	-fx-background-color: TRANSPARENT;
	-fx-border-radius: 30;
	-fx-border-color: #1f4c9f;
	-fx-border-width: 1;
}

.label-titleDialog {
	-fx-font-size: 25;
	-fx-font-family: "Times New Roman";
}

.textAreainfo {
	-fx-background-color: TRANSPARENT;
}

.labelTitleSezInfo{
	-fx-font-size: 18;
}

.button-actionItem{
	-fx-border-radius: 50;
	-fx-background-radius: 50;
}

