#B_accediCittadino {

	-fx-background-color: #e7f5fe;
	-fx-border-width: 2;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-color: #000000;
}

#B_accediCittadino:hover {

	-fx-background-color:#b6e1fc;
	-fx-border-width: 2;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: #000000;

}

#B_accediOperatori {

	-fx-background-color: #e7f5fe;
	-fx-border-width: 2;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-color: #000000;


}

#B_accediOperatori:hover {

	-fx-background-color: #b6e1fc;
	-fx-border-width: 2;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: #000000;
}

#L_CV_welcome {

	-fx-font-size: 40;
	-fx-font-family: "STSong";
}

#L_CV_operatore {

	-fx-font-size: 15;
}

.text-field{
	-fx-border-color: #000000;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

.text-field:hover{
	-fx-border-color: #b6e1fc;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

#B_CV_login{

	-fx-background-color: #e7f5fe;
	-fx-border-color: #000000;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

#B_CV_login:hover{

	-fx-background-color: #b6e1fc;
	-fx-border-color: #000000;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

#B_CV_info{

	-fx-background-color: trasparent;
}

