.button {

	-fx-background-color: #e7f5fe;
	-fx-border-width: 2;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
	-fx-border-color: #000000;
}

.button:hover {

	-fx-background-color:#b6e1fc;
	-fx-border-width: 2;
	-fx-background-radius: 20;
	-fx-border-radius: 20;
	-fx-border-color: black;

}

.label {

	-fx-font-size: 15;
}

#L_CV_welcome {

	-fx-font-size: 40;
	-fx-font-family: "STSong";
}

.text-field{

	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

.text-field:hover{

	-fx-border-color: #b6e1fc;
	-fx-border-radius: 5;
	-fx-background-radius: 5;
	-fx-border-width: 0.5;
}

#B_CV_login{

	-fx-background-color: #e7f5fe;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

#B_CV_login:hover{

	-fx-background-color: #b6e1fc;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

#L_CV_os{

	-fx-font-size: 30;
	-fx-font-family: "STSong";
}

.field-error{

	-fx-border-color: red;
	-fx-border-width: 1.5;
}

.tooltip-error{

	-fx-border-color: red;
	-fx-border-radius: 10;
	-fx-border-width: 1.5;
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-text-fill: black;
}

#L_CV_RC_title {

	-fx-font-size: 25;
	-fx-font-family: "STSong";
}

#L_CV_targetData{

	-fx-font-size: 12;
}

#L_CV_targetTipVaccino {

	-fx-font-size: 12;
}

#L_CV_targetIDvaccino {

	-fx-font-size: 12;
}

#B_CV_registraCittadino{

	-fx-background-color: #e7f5fe;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}

#B_CV_registraCittadino:hover{

	-fx-background-color: #b6e1fc;
	-fx-border-color: black;
	-fx-border-radius: 5;
	-fx-border-width: 0.5;
	-fx-background-radius: 5;
}